#places, #hidden, #hidden_list {
  display: none;
}

#hidden {
  margin-top: 40px;
}

.well {
  width: 500px;
  margin: auto;
  color: #000;
  border: 8px double #000;
  padding: 30px;
}

.jumbotron {
  color: #fff;
  background-color: #000;
}
